// USER VARIABLES SECTION

// IMPORT SECTION
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

// FONTS LOAD SECTION
/* @mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: urq($furl), format('woff2');
	}
}

@include font('pt-mono', normal, 400, '../fonts/pt-mono-regular-webfont.woff2');
@include font('pt-mono', normal, 700, '../fonts/pt-mono-bold-webfont.woff2');

@include font('inter', normal, 400, '../fonts/inter-regular-webfont.woff2');
@include font('inter', normal, 500, '../fonts/inter-medium-webfont.woff2');
@include font('inter', normal, 600, '../fonts/inter-semibold-webfont.woff2');
@include font('inter', normal, 700, '../fonts/inter-bold-webfont.woff2');
*/

@function pxToVW($px, $viewport) {
	@return $px / $viewport * 100vw;
}

// LAYOUT
$container-max-width: 1160px;
$container-padding-left: 30px;
$container-padding-right: 30px;

// FONTS
$font-inter: 'Inter', sans-serif;
$font-pt-mono: 'PT Mono', monospace;;
$font-size-default: pxToVW(16, 1440);

//COLORS
$default-color: #3A5165;
$inverse-color: #FFFFFF;
$dark-color: #112133;
$black-color: #000000;
$yellow-color: #FFE352;
$red-color: #FE5955;
$blue-color: #0D4290;
$dark-blue-color: #0C397C;


// RESET
*,
*:after,
*:before {
  box-sizing: inherit;
}

::selection {
	background-color: $red-color;
	color: $inverse-color;
}

body,
html {
  box-sizing: border-box;
  height: 100%;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	padding: 0;
	margin: 0;
	font-family: $font-inter;
	font-size: $font-size-default;
	font-weight: 400;
	color: $default-color;
	overflow-x: hidden;
}

body > * {
	flex-shrink: 0;
}

main {
	flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
  font-size: inherit;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}	

p {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
  border-style: none;
}

a { 
	text-decoration: none;
	&:hover, &:focus {
		outline: none;
	}
}

button {
  outline: none;
	border: none;
}

.container {
	max-width: $container-max-width;
	padding-left: $container-padding-left;
	padding-right: $container-padding-right;
	margin: 0 auto;
	@media only screen and (max-width: 576px) {
		padding-right: 15px;
		padding-left: 15px;
		max-width: 1130px;
	} 
}

.button {
	max-width: pxToVW(300, 1440);
	padding: pxToVW(20, 1440);
	font-family: $font-inter;
	font-size: $font-size-default;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
}

