@import 'config';

.header {
	position: relative;
	background-color: $blue-color;
	background: url('../images/src/blur.svg') $blue-color;
	background-repeat: no-repeat;
	background-position: left top 40px;
	border-radius: 0px 0px 50px 50px;
	@media only screen and (max-width: 576px) {
		background-image: none;
		border-radius: 0px;
	} 
}

.header__navigation {
	margin-bottom: pxToVW(20, 1440);
	@media only screen and (min-width: 992px) and (max-width: 1280px) {
		margin-bottom: pxToVW(20, 1200);
	}
	@media only screen and (max-width: 768px) {
		margin-bottom: 16px;
	} 
}

// NAVIGATION
.navigation {
	position: relative;
	background-color: $dark-blue-color;
	box-shadow: 0px 1px 0px 0px #606068;
	z-index: 10;
}

.navigation__wrapper {
	display: flex;
	justify-content: space-between;
	max-width: pxToVW(1285, 1440);
	padding-top: pxToVW(14, 1440);
	padding-bottom: pxToVW(14, 1440);
	margin-left: auto;
	margin-right: auto;
	@media only screen and (max-width: 1280px) {
		max-width: 1130px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@media only screen and (max-width: 768px) {
		padding-left: 0;
	}
}

.navigation__list {
	display: flex;
	align-items: center;
	@media only screen and (max-width: 768px) {
		display: none;
	}
}

.navigation__item {
	padding: pxToVW(8, 1440) pxToVW(16, 1440);
	margin-left: pxToVW(12, 1440);
	font-family: $font-pt-mono;
	font-size: pxToVW(16, 1440);
	font-weight: 400;
	color: $inverse-color;
	transition: all .2s;
	user-select: none;
	&:hover, &:focus {
		background-color: $inverse-color;
		color: $dark-color;
	}
	&.is-special::before {
		content: url('../images/src/arrow.svg');
		margin-right: 4px;
	}
	@media only screen and (min-width: 992px) and (max-width: 1280px) {
		padding: pxToVW(8, 1200) pxToVW(16, 1200);
		margin-left: pxToVW(12, 1200);
		font-size: pxToVW(16, 1200);
	}
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		padding: pxToVW(8, 1100) pxToVW(16, 1100);
		margin-left: pxToVW(12, 1100);
		font-size: pxToVW(16, 1100);
	}
}

.navigation__option {
	display: flex;
	align-items: center;
}

.navigation__lang {
	margin-right: pxToVW(24, 1440);
	color: rgba($inverse-color, 0.6);
	transition: color .2s;
	cursor: pointer;
	user-select: none;
	&:hover, &:focus {
		color: $inverse-color;
	}
	@media only screen and (min-width: 992px) and (max-width: 1280px) {
		margin-right: pxToVW(24, 1200);
		font-size: pxToVW(14, 1200);
	}
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		margin-right: pxToVW(24, 1100);
		font-size: pxToVW(14, 1100);
	}
	@media only screen and (max-width: 768px) {
		font-size: 12px;
		margin-right: 20px;
	} 
}

.navigation__login {
	position: relative;
	display: flex;
	align-items: center;
	padding: pxToVW(6, 1440) pxToVW(10, 1440);
	color: $inverse-color;
	box-shadow: 0px 0px 0px 1px $inverse-color;
	transition: all .2s;
	cursor: pointer;
	user-select: none;
	&:hover, &:focus {
		background-color: $inverse-color;
		color: $dark-color;
	}
	&::after {
		content: url('../images/src/arrow.svg');
		margin-left: 6px;
	}
	@media only screen and (min-width: 992px) and (max-width: 1280px) {
		padding: pxToVW(6, 1200) pxToVW(10, 1200);
		font-size: pxToVW(16, 1200);
	}
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		padding: pxToVW(6, 1100) pxToVW(10, 1100);
		font-size: pxToVW(16, 1100);
		&::after {
			margin-top: 2px;
		}
	}
	@media only screen and (max-width: 768px) {
		font-size: 14px;
		padding: 6px 10px;
		&::after {
			margin-top: 1px;
		}
	} 
}

// HEADER CONTENT
.header__content {
	position: relative;
}

.header__logo-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: pxToVW(96, 1440);
	@media only screen and (max-width: 1280px) {
		margin-bottom: pxToVW(60, 1440);
	}
	@media only screen and (max-width: 768px) {
		margin-bottom: pxToVW(40, 600);
	} 
	@media only screen and (max-width: 576px) {
		margin-bottom: pxToVW(30, 400);
	} 
}

.header__logo {
	width: pxToVW(215, 1440);
	height: pxToVW(50, 1440);
	@media only screen and (max-width: 768px) {
		width: pxToVW(320, 1440);
	} 
	@media only screen and (max-width: 576px) {
		width: pxToVW(420, 1440);
	} 
}

.header__title {
	margin-bottom: pxToVW(40, 1440);
	font-size: pxToVW(48, 1440);
	color: $inverse-color;
	@media only screen and (max-width: 768px) {
		font-size: pxToVW(28, 600);
		margin-bottom: pxToVW(30, 600);
	} 
	@media only screen and (max-width: 576px) {
		font-size: pxToVW(22, 400);
		max-width: 360px;
	} 
}

.header__description {
	position: relative;
	margin-bottom: pxToVW(42, 1440);
	@media only screen and (max-width: 768px) {
		margin-bottom: pxToVW(62, 1440);
	} 
	@media only screen and (max-width: 576px) {
		margin-bottom: pxToVW(70, 1000);
	} 
}

.header__description-list {
	margin-bottom: pxToVW(40, 1440);
	@media only screen and (max-width: 768px) {
		margin-bottom: pxToVW(24, 600);
	} 
	@media only screen and (max-width: 576px) {
		margin-bottom: pxToVW(24, 400);
	} 
}

.header__description-item {
	display: flex;
	align-items: center;
	color: $inverse-color;
	&:not(:last-child) {
		margin-bottom: pxToVW(20, 1440);
		@media only screen and (max-width: 576px) {
			margin-bottom: pxToVW(10, 400);
		} 
	}
}

.header__description-image {
	width: pxToVW(48, 1440);
	height: pxToVW(48, 1440);
	@media only screen and (max-width: 768px) {
		width: pxToVW(48, 1000);
		height: pxToVW(48, 1000)
	} 
}

.header__description-text {
	margin-left: pxToVW(10, 1440);
	font-size: pxToVW(18, 1440);
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		font-size: pxToVW(18, 1000);
	}
	@media only screen and (max-width: 768px) {
		font-size: pxToVW(16, 600);
		margin-left: pxToVW(10, 600);
	} 
	@media only screen and (max-width: 576px) {
		font-size: pxToVW(15, 400);
	} 
}

.header__preview {
	$height-preview: pxToVW(350, 1440);
	position: absolute;
	right: 0;
	top: calc(50% - #{$height-preview} / 2);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: $height-preview;
	background-color: $dark-color;
	background: url('../images/src/preview-bg.svg') $dark-color;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	img {
		width: pxToVW(178, 1440);
		height: pxToVW(34, 1440);
	}
	@media only screen and (max-width: 768px) {
		display: none;
	} 
}

.header__preview-text {
	font-size: pxToVW(52, 1440);
	font-weight: 400;
	color: $inverse-color;

}

.header__button {
	background-color: $yellow-color;
	color: #282626;
	border-radius: 10px;
	transition: background-color .4s;
	&:hover, &:focus {
		background-color: darken($yellow-color, 10%);
	}
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		max-width: pxToVW(300, 1000);
		padding: pxToVW(20, 1000);
		font-size: pxToVW(16, 1000);
	}
	@media only screen and (max-width: 768px) {
		max-width: pxToVW(300, 600);
		padding: pxToVW(20, 600);
		font-size: pxToVW(14, 600);
	} 
	@media only screen and (max-width: 576px) {
		max-width: pxToVW(300, 400);
		padding: pxToVW(18, 400);
		font-size: pxToVW(14, 400);
	} 
}

// HIDDEN MENU
.hidden-menu {
	position: absolute;
	top: -100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba($blue-color, .98);
	transition: all .2s;
	z-index: 9;
	&.is-active {
		top: 0;		
	}
}

.hidden-menu__item {
  padding: 4px;
  margin: 8px;
  font-size: 16px;
  color: $inverse-color;
	&.is-special::before {
		content: url('../images/src/arrow.svg');
		margin-right: 4px;
	}
}

// HAMBURGER 
.navigation__hamburger {
  display: none;
  position: relative;
	width: 50px;
	height: 50px;
  background-color: transparent;
	z-index: 110;
	cursor: pointer;
	order: -1;
	&::before, &::after, &-item {
		content: "";
    position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 3px;
    background-color: $inverse-color;
		transform: translate(-50%, -50%);
    transition: all .4s;
  }
	&::before {
		top: 34%;
  }
	&::after {
		top: 66%;
  }
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.navigation__hamburger.is-active {
	.navigation__hamburger-item {
		opacity: 0;
  }
	&::before {
		transform: rotate(45deg);
		left: 14px;
		top: 24px;
  }
	&::after {
    transform: rotate(-45deg);
		left: 14px;
		top: 24px;
  }
}

// PROGRAM
.program {
	background: linear-gradient(to bottom, $inverse-color 50%, #E3EAF0 50%, #E3EAF0 100%);
}

.program__headline {
	padding-top: pxToVW(120, 1440);
	@media only screen and (max-width: 1280px) {
		padding-top: pxToVW(60, 1000);
	}
}

.program__description {
	margin-bottom: pxToVW(96, 1440);
	@media only screen and (max-width: 1280px) {
		margin-bottom: pxToVW(60, 1000);
	}
}

// HEADLINE
.headline-program__wrapper {
	padding: pxToVW(60, 1440) pxToVW(95, 1440) pxToVW(54, 1440);
	background-color: $dark-color;
	background-image: url('../images/src/exclude.svg');
	background-repeat: no-repeat;
	background-position:  right top;
	border-radius: 20px 20px 0px 0px;
	@media only screen and (max-width: 768px) {
		padding: pxToVW(80, 1000) pxToVW(60, 1000);
	}
}

.headline-program__title {
	max-width: pxToVW(600, 1440);
	margin-bottom: pxToVW(40, 1440);
	font-size: pxToVW(24, 1440);
	color: $inverse-color;
	@media only screen and (max-width: 992px) {
		max-width: pxToVW(600, 1000);
		margin-bottom: pxToVW(20, 1000);
		font-size: pxToVW(24, 1000);
	}
	@media only screen and (max-width: 768px) {
		max-width: pxToVW(600, 600);
		font-size: pxToVW(24, 600);
	}
	@media only screen and (max-width: 576px) {
		font-size: pxToVW(20, 400);
		margin-bottom: pxToVW(15, 400);
		max-width: 100%;
	} 
}

.headline-program__text {
	max-width: pxToVW(570, 1440);
	font-size: pxToVW(18, 1440);
	font-weight: 400;
	color: $inverse-color;
	&:not(:last-child) {
		margin-bottom: pxToVW(30, 1440);
		@media only screen and (max-width: 576px) {
			margin-bottom: pxToVW(15, 400);
		} 
	}
	@media only screen and (max-width: 992px) {
		max-width: pxToVW(570, 800);
		font-size: pxToVW(18, 1000);
	}
	@media only screen and (max-width: 768px) {
		max-width: 100%;
		font-size: pxToVW(16, 600);
	}
	@media only screen and (max-width: 576px) {
		font-size: pxToVW(16, 400);
	} 
}

// DESCRIPTION
.description-program__wrapper {
	display: flex;
	padding: pxToVW(50, 1440) pxToVW(40, 1440) pxToVW(70, 1440) pxToVW(93, 1440);
	background-color: #F3F6F9;
	@media only screen and (max-width: 768px) {
		padding: pxToVW(50, 800) pxToVW(40, 800) pxToVW(70, 800) pxToVW(40, 800);
	}
}

.description-program__content {
	flex: 0 1 pxToVW(600, 1440);
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		flex: 0 1 pxToVW(600, 1200);
	}
	@media only screen and (max-width: 768px) {
		flex: 0 1 pxToVW(600, 600);
	}
}

.description-program__title {
	margin-bottom: pxToVW(30, 1440);
	font-size: pxToVW(24, 1440);
	font-weight: 400;
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		margin-bottom: pxToVW(20, 1000);
		font-size: pxToVW(24, 1000);
	}
	@media only screen and (max-width: 768px) {
		font-size: pxToVW(20, 600);
	}
	@media only screen and (max-width: 576px) {
		font-size: pxToVW(20, 400);
		margin-bottom: pxToVW(12, 400);
	} 
}

.description-program__caption {
	display: flex;
	align-items: center;
	padding: pxToVW(14, 1440) pxToVW(14, 1440);
	margin-bottom: pxToVW(15, 1440);
	font-size: pxToVW(16, 1440);
	background-color: #F3F6F9;
	box-shadow: 0px 0px 0px 1px rgba(#7694AE, .3);
	border-radius: 5px;
	cursor: pointer;
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		font-size: pxToVW(16, 1000);
		padding: pxToVW(14, 1000) pxToVW(14, 1000);
		margin-bottom: pxToVW(16, 1000);
	}
	@media only screen and (max-width: 768px) {
		font-size: pxToVW(16, 600);
		padding: pxToVW(14, 600) pxToVW(14, 600);
		margin-bottom: pxToVW(16, 600);
	}
	@media only screen and (max-width: 576px) {
		font-size: pxToVW(14, 400);
		padding: pxToVW(14, 400) pxToVW(14, 400);
		margin-bottom: pxToVW(16, 400);
	} 
}

.description-program__open {
	flex-shrink: 0;
	width: pxToVW(10, 1440) ;
	height: pxToVW(10, 1440) ;
	margin-top: pxToVW(-4, 1440);
	margin-right: pxToVW(10, 1440);
	border-right: 2px solid currentColor;
	border-bottom: 2px solid currentColor;
	transform: rotate(45deg);
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		width: pxToVW(10, 1000) ;
		height: pxToVW(10, 1000) ;
		margin-top: pxToVW(-4, 1000);
		margin-right: pxToVW(10, 1000);
	}
	@media only screen and (max-width: 768px) {
		width: pxToVW(10, 600) ;
		height: pxToVW(10, 600) ;
		margin-top: pxToVW(-4, 600);
		margin-right: pxToVW(10, 600);
	}
}

.description-program__caption.is-active {
	background-color: $inverse-color;
	.description-program__open {
		margin-top: 4px;
		transform: rotate(-135deg);
	}
	& + .program-list {
		display: block;
	}
}

.description__program-decorative {
	width: pxToVW(300, 1440);
	height: pxToVW(300, 1440);
	margin-left: pxToVW(120, 1440);
	@media only screen and (max-width: 768px) {
		display: none;
	}
}

// PROGRAM LIST

.program-list {
	display: none;
}

.program-list__text {
	position: relative;
	padding-left: pxToVW(24, 1440);
	margin-bottom: pxToVW(8, 1440);
	font-size: pxToVW(16, 1440);
	&:last-child {
		margin-bottom: pxToVW(30, 1440);
		@media only screen and (min-width: 768px) and (max-width: 992px) {
			margin-bottom: pxToVW(30, 1000);
		}
		@media only screen and (max-width: 768px) {
			margin-bottom: pxToVW(26, 800);
		}
		@media only screen and (max-width: 576px) {
			margin-bottom: pxToVW(26, 600);
		}
	}
	&::before {
		content: '';
		position: absolute;
		top: calc(50% - 3px);
		left: pxToVW(12, 1440);
		display: block;
		width: 4px;
		height: 4px;
		background-color: $default-color;
		border-radius: 50%;
		@media only screen and (max-width: 768px) {
			width: 6px;
			height: 6px;
			left: pxToVW(14, 600);
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 992px) {
		padding-left: pxToVW(24, 1000);
		margin-bottom: pxToVW(8, 1000);
		font-size: pxToVW(16, 1000);
	}
	@media only screen and (max-width: 768px) {
		padding-left: pxToVW(28, 600);
		margin-bottom: pxToVW(8, 600);
		font-size: pxToVW(16, 600);
	}
	@media only screen and (max-width: 576px) {
		padding-left: pxToVW(28, 400);
		margin-bottom: pxToVW(8, 400);
		font-size: pxToVW(14, 400);
	}
}

// CONTEST
.contest {
	position: relative;
	min-height: pxToVW(120, 1440);
	background-color: $yellow-color;
	background-image: url('../images/src/contest-bg-1.svg');
	background-repeat: no-repeat;
	@media only screen and (max-width: 1280px) {
		background-image: url('../images/src/contest-bg.svg');
	}
	@media only screen and (max-width: 768px) {
		background-size: 20% 100%;
	}
}

.contest__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: pxToVW(32, 1440) pxToVW(84, 1440) pxToVW(32, 1440) pxToVW(170, 1440);
	z-index: 10;
	@media only screen and (max-width: 1280px) {
		max-width: 1160px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	@media only screen and (max-width: 768px) {
		flex-direction: column;
		& > * {
			margin-bottom: pxToVW(12, 600);
		}
	}
	@media only screen and (max-width: 576px) {
		padding-top: pxToVW(32, 400);
		padding-top: pxToVW(32, 1000);
		& > * {
			margin-bottom: pxToVW(12, 400);
		}
	}
}

.contest__title {
	font-size: pxToVW(30, 1440);
	font-weight: 500;
	text-transform: uppercase;
	color: $red-color;
	@media only screen and (max-width: 1280px) {
		color: $dark-color;
	}
	@media only screen and (max-width: 768px) {
		font-size: pxToVW(18, 600);
	}
	@media only screen and (max-width: 576px) {
		font-size: pxToVW(20, 400);
	}
}

.contest__description {
	max-width: pxToVW(650, 1440);
	font-size: pxToVW(22, 1440);
	text-align: center;
	color: rgba($black-color, .72);
	span {
		font-weight: 500;
		color: $black-color;
	}
	@media only screen and (min-width: 768px) and (max-width: 840px) {
		max-width: pxToVW(600, 1000);
		font-size: pxToVW(16, 1000);
	}
	@media only screen and (max-width: 768px) {
		max-width: pxToVW(600, 600);
		font-size: pxToVW(16, 600);
	}
	@media only screen and (max-width: 576px) {
		max-width: pxToVW(600, 400);
		font-size: pxToVW(16, 400);
	}
}

.contest__button {
	max-width: pxToVW(240, 1440);
	padding: pxToVW(12, 1440) pxToVW(28, 1440);
	background-color: $red-color;
	color: $inverse-color;
	box-shadow: 8px 8px 14px 0px rgba(172, 55, 52, 0.15);
	border-radius: 15px;
	transition: background-color .4s;
	&:hover, &:focus {
		background-color: darken($red-color, 10%);
	}
	@media only screen and (min-width: 768px) and (max-width: 1280px) {
		max-width: pxToVW(240, 1200);
		padding: pxToVW(12, 1000) pxToVW(28, 1000);
		font-size: pxToVW(14, 1000);
	}
	@media only screen and (max-width: 768px) {
		max-width: pxToVW(320, 800);
		padding: pxToVW(12, 600) pxToVW(28, 600);
		font-size: pxToVW(14, 600);
	}
	@media only screen and (max-width: 576px) {
		max-width: pxToVW(320, 600);
		padding: pxToVW(12, 400) pxToVW(28, 400);
		font-size: pxToVW(14, 400);
	}
} 